<div>
    <h1>RSVP list</h1>

    <ul id="rsvpList">
        <li *ngFor="let rsvpEntry of rsvpList">
            <p><strong>{{rsvpEntry.name}} - {{rsvpEntry.contact}}</strong></p>
            <p>Is attending: {{rsvpEntry.isAttending}}</p>
            <div *ngIf="rsvpEntry.isAttending">
                <div *ngIf="rsvpEntry.iAttendingOnFriday">
                    <p>Friday: {{rsvpEntry.iAttendingOnFriday}} | Coach on Friday: {{rsvpEntry.needCoachOnFriday}}</p>
                </div>
                <p>Coach on Saturday: {{rsvpEntry.needCoach}} | Vegetarian option: {{rsvpEntry.vegetarian}}</p>
                <div *ngIf="rsvpEntry.childrenDietInfo">
                    <p>Children diet: {{rsvpEntry.childrenDietInfo}}</p>
                </div>
                <div *ngIf="rsvpEntry.songInfo">
                    <p>Song: {{rsvpEntry.songInfo}}</p>
                </div>
                <div *ngIf="rsvpEntry.moreInfo">
                    <p>More: {{rsvpEntry.moreInfo}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>